$nicePurple: #7851a9;
$white: #FFFFFF;

$color1Prim: #E3E9C2;
$color2Prim: #F9FBB2;
$color1Accent: #F8FCDA;
$color2Accent: #7C6354;
$color3Accent: #A5ABAF;


.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1rem;
  background-color: $color2Prim;


  .logo {
    font-size: 1.5rem;
    line-height: 150%;

  }
}
.page {
  background-color: $color1Prim;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
